body{
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
.wrapper{
    width: 100%;
    max-width: 1420px;
    padding: 0 20px;
    margin: 0 auto;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}

.header-none{
    display: none;
}

.header-menu{
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}

.menu{
    display: flex;
    gap: 50px;
}

.menu a{
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    color: #666666;
    text-decoration: none;
}

.menu-networks{
    display: flex;
    gap: 20px;
}

.main{
    padding-top: 220px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main h1{
    max-width: 636px;
    font-size: 58px;
    line-height: 70px;
    font-weight: 700;
    color: #42446E;
}

.main h1 span{
    background: linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tech-stack{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 140px;
    padding-top: 348px;
}

.tech-stack-text h2{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: #42446E;
}

.tech-stack-text h3{
    font-size: 32px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: #666666;
}

.tech-stack-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 103px 67px;
    max-width: 1040px;
}

.tech-stack-img-none{
    display: none !important;
}

.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 96px;
    padding-top: 214px;
}

.projects h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    color: #42446E;
}

.projects h3{
    font-size: 32px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: #666666;
}

.projects-blocks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 47px 62px;
    max-width: 1340px;
}

.projects-block{
    display: flex;
    max-width: 340px;
    flex-direction: column;
    gap: 27px;
    border-radius: 20px;
    box-shadow: 2px 2px 100px 0px #00000033;
}

.projects-block-text{
    display: flex;
    flex-direction: column;
    gap: 17px;
    padding: 27px;
}

.projects-block-title{
    font-size: 28px;
    font-weight: 500;
    line-height: 26px;
    color: #000000;
}

.projects-block-description{
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    color: #666666;
}

.projects-block-stack{
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    color: #42446E;
}

.projects-block-stack span{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #42446E;
}

.projects-block-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.projects-block-link{
    display: flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;
}

.projects-block-link a{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #000000;
}

.footer{
    padding-top: 203px;
    padding-bottom: 42px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-contacts{
    display: flex;
    flex-direction: row;
    gap: 48px;
    align-items: center;
}

.footer-contacts-text{
    display: flex;
    flex-direction: row;
    gap: 33px;
}

.footer-contacts-text span{
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: #42446E;
}

.footer-contacts-networks{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.footer-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;

}

.footer-links{
    display: flex;
    flex-direction: row;
    gap: 52px;
}

.footer-links a{
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: #42446E;
    text-decoration: none;
}

.footer-designed{
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: rgba(21, 20, 57, 0.4);


}

.footer-pavan{
    background: linear-gradient(90deg, #7367D3 -2.06%, #9A4AC5 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-love{
    background: linear-gradient(90deg, #B038BD -2.06%, #C12CB8 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-coffe{
    background: linear-gradient(90deg, #CD23B3 -2.06%, #E610AA 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


@media (max-width: 1020px) {
    .footer-text{
        flex-direction: column;
    }

}



@media (max-width: 920px) {
    .header-none{
        display: block;
    }
    .header-block{
        display: none;
    }
}

@media (max-width: 820px) {
    .main{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .main h1{
        text-align: center;
    }

}

@media (max-width: 715px) {
    .tech-stack-img-none{
        display: block !important;
        width: 200px;
    }
    .tech-stack-img-block{
        display: none;
    }


}

@media (max-width: 680px) {
    .footer-none{
        display: none;
    }
    .footer-contacts{
        flex-direction: column;
        margin: 0 auto;
    }
    .footer-contacts-text{
        gap: 14px;
    }
}



@media (max-width: 570px) {
    .footer-links{
        flex-wrap: wrap;
        gap: 10px;
        max-width: 284px;
    }
    .footer-text{
        align-items: flex-start;
    }
}